{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
</head>

    
<body>
{%block content%}
    
  <!--<div class="">
    <div class="container ">
    <div class="ineer-pages ">
      <div class="ineer-pages-img ">
        <div class="row ">
          <div class="col-md-12 ">
                      <div class="ineer-page-taital ">
              <div class="ineer-page-tex ">
                <h3>Kuna Impex Pvt Ltd.</h3>
              </div>
            </div>            
            <div>                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">                  <div class="title ">
                    <div class="lined ">
                      <h3>Kuna Impex Pvt Ltd.</h3>
                    </div>
                  </div><p>
	Kuna Impex Pvt ltd was started in the year 1990 as a proprietary company and was converted into Private Ltd. in 1998.In the initial stage of the business Kuna Impex developed many product for Indian army and other organizations.Some of developed products like splinter proof Shelters,UV stabilized sand bags and mine tape which was conceived and developed by KUNA,still used by Indian Army</p>
<p>
	In the year 1994 KUNA started the Industrial Automation business and now it is a full-fledged Sales and the Service center for the Five Multinationals<br />
	<span><img alt="//" src="synergyframe/config/resources/system/upload/37055228.png" /></span> <span><img alt="//" src="synergyframe/config/resources/system/upload/215441801.png" /></span> <span><img alt="//" src="synergyframe/config/resources/system/upload/1802007475.png" /></span> <span><img alt="//" src="synergyframe/config/resources/system/upload/486363139.png" /></span> from china which have Exclusive Sales &amp; Service arrangement with KUNA in India.The Company has more than 30 Dealers in all over India. The Company has A Fully trained &amp; Supportive Engineers for Sales and Service operations.</p>
<p>
	Since 2006,Kuna Impex Pvt Ltd. is involved in the Renewable Energy business Development where the company started R&amp;D to develop Vertical Axis Wind Turbine which runs on a very small wind speed and it can generate very good power even on the planes of India.This Windmill can be made hybrid with the use of Solar PV and if we use LED then it would save at least 60% energy.</p>
<p>
	Since 2013,KUNA IMPEX is pursuing the Renewable Energy concept very aggresively ,The company started LED business and has satisfied clients in the industry.Company also Export to USA.</p>
<p>
	Due to Prompt after Sales and Service and good quality work Kuna Impex is competing with Multi Nationals like Siemens,ABB,L&amp;T, Schneider etc&hellip;. Every year at least 20% to 25% growth is recorded by KUNA IMPEX for the last decade.</p>
<p>
	During last few years the company was awarded few awards like OUTSTANDING PROGRESS AWARD-from ESTUN AUTOMATION in China.</p>
<h3>
	<span style="color: rgb(0, 0, 205);">Vision &amp; Mission:</span></h3>
<p>
	Our aim is to manufacture and sell Electrical &amp; Automation Products, providing global solutions to all the sectors and cater with innovative products of the highest quality with excellent service.</p>
<p>
	The quality and the design of our products as well as the effective and personalized service, has consolidated our position in the market with a loyal client portfolio.</p>
<p>
	The company Priorities Innovation, Quality and the development of technology for products and production processes, making it one of the trusted &amp; reliable products &amp; solutions provider in the market.</p>
<h3>
	<span style="color:#0000cd;">About The Promoters:</span></h3>
<p>
	<strong>The company is managed by Two Directors.</strong></p>
<p>
	<strong>Mr. Ved Naithani--</strong> is the Managing Directors of the company who is involved in day to day management of the company.He has more than 25 years of experience in running the business.he has done lot of DEVELOPMENT of Defence product and other Import substitution Products.In 1994,he started the new venture Industrial automation and started importing AC Drives in India and developed the Market in all over India.since then he added more products in the Kuna Impex&#39;s Kitty and Now Kuna Impexis full-fledged Industrial Automation Company.</p>
<p>
	<strong>Mr. Palak Shah-B.E. INDUSTRIAL ELECTRONICS--</strong> He started his carrier with Reliance Industries as maintainance engineer in Textile division.Then he joined Siemens a multinationals from Germany&#39;s Drive and Automation division.He joined the board of kuna in 2003-2004.He has been taking care of all technical aspects of the company.wherein his prime responsibilities include technical assessment of the products and ensuring Zero Tolerance in Quality.</p>
<h3>
	<span style="color:#0000cd;">Location:</span></h3>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<strong>Registered Head Office:-</strong></div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		202-203,Naindhara,</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		Nr.GNFC Infotower,</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		S.G.Road,</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		Ahmedabad 380054</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<strong>Warehouse:-</strong></div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		Row House No11&amp;12</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		Premchand nagar,</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		Satelite,</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		&nbsp;</div>
	<h3 class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<span style="color: rgb(0, 0, 205);">Major Projects:</span></h3>
</div>
<p>
	The company is dealing in various automation products,the following being primary:</p>
<p>
	<strong>&quot;SUNFAR&quot;</strong> -AC Drives which are used in all types of Machineries for Speed control of Induction motors to reduce the down time and wear-tear of machine.</p>
<p>
	<strong>&quot;ESTUN&quot;</strong>-Servo Drives,which are used in high precision applications,for diamond cutting,machine tools,for packaging and printing to name a few.</p>
<p>
	<strong>&quot;CHINT&quot;</strong>-Low Voltage Switchgear,which are used in all types of control panels,for households and Industries.</p>
<p>
	<strong>&quot;K-VERTER&quot;</strong>-PLC/HMI which are used in all types of machinery automation and programming.</p>
<p>
	LED Lightings,which is now in high demand,is another product added by the company,which is fast being recognized as a efficient source of energy and its savings.</p>
<p>
	The Company operates on a PAN India presence,with major areas /states of operations being Gujarat,Maharashtra,Madhya Pradesh,Tamilnadu,Punjab to name a few.</p>
<h3>
	<span style="color:#0000cd;">The Future:</span></h3>
<p>
	The company intens to export LED lights in the near future, to countries like USA,Middle East,Newzealand and Australia.</p>
<p>
	The Company also intends to come up in the year 2016-2017,with a manufacturing facility for A.C.Drives, in line with the initiative of &quot;MAKE IN INDIA&quot; considering the growth potential in the country.The company also intends to add new products,in its kitty.</p>
<h3>
	<span style="color:#0000cd;">Associations:-</span></h3>
<h4>
	<img alt="//" src="synergyframe/config/resources/system/upload/37055228.png" /> <strong>:- Authorised Dealer Servo Drives, Servo Motor, Controller for India</strong></h4>
<h4>
	<img alt="//" src="synergyframe/config/resources/system/upload/215441801.png" /><strong>:- Authorised Dealer AC DRIVES for India</strong></h4>
<h4>
	<img src="images/haiwell.png" /><strong>:- Authorised Dealer PLC and SCADA for India</strong></h4>
<h4>
	<img src="images/samkoon.png" /> <strong> :- Authorised Dealer HMI for India</strong></h4>
<h4>
	<img alt="//" src="synergyframe/config/resources/system/upload/1802007475.png" /> <strong> :- Authorised Dealer LV SWITCHGEAR and AC DRIVES for India</strong></h4>
</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="clearfix"></div>

{%endblock%}


</body>


</html>