{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">


<head>
  

    
</head>

    
<body>
    
      <div class="slider">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                                            <div data-src="synergyframe/config/resources/system/upload/1062741489.jpg"></div>
                                            <div data-src="synergyframe/config/resources/system/upload/756001867.jpg"></div>
                                            <div data-src="synergyframe/config/resources/system/upload/2074809057.jpg"></div>
                                            <div data-src="synergyframe/config/resources/system/upload/1987375607.jpg"></div>
                                            <div data-src="synergyframe/config/resources/system/upload/1183575603.jpg"></div>
                                            <div data-src="synergyframe/config/resources/system/upload/1994087855.jpg"></div>
                                    </div>
                          </div>
          </div>
        </div>
      </div>
    </div>{%block content%}

    <div class="slider">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div>
                                        <img class="img-responsive " src="{% static 'synergyframe/config/resources/system/upload/872928210.jpg' %}" alt="Downloads">
                                    </div>
                        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Sales-Services">
<div class="container">
  <div class="ineer-pages">


  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="title">
    <div class="lined ">
      <h3>Downloads</h3>
    </div> 
  </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
        
          <thead>
            <tr>
              <th>Document Name</th>
            <!--   <th>Description</th> -->
      <th>Type</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ABM INSTRUMENTS</td>
              <td>CATALOGUES</td>
              <td class="text-center">
                <a style="padding: 5px;" class="bg-info" href="{% static 'synergyframe/config/resources/system/upload/abmcatalogue.pdf' %}" target="_blank">Download <i class="fa fa-file-pdf-o" aria-hidden="true"></i> </a>
              </td>
            </tr>
            <!--<tr>
              <td>RONAK ELECTRICALS</td>
              <td>CATALOGUES</td>
              <td class="text-center">
                <a style="padding: 5px;" class="bg-info" href="{% static 'synergyframe/config/resources/system/upload/ronakelectricals.pdf' %}" target="_blank">Download <i class="fa fa-file-pdf-o" aria-hidden="true"></i> </a>
              </td>
            </tr>-->
                </tbody>
        </table>

    </div>
    </div>











  </div>
</div>
</div>






  <div class="clearfix"></div>
  {%endblock%}
      
</body>


</html>