{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">


<head>
 
    
</head>

    
<body>
{%block content%}
  <!--<div class="slider">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div>
                                          <img class="img-responsive " src="synergyframe/config/resources/system/upload/158113682.jpg" alt="Products">
                                      </div>
                          </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="container">
      <div class="ineer-pages">
        <div class="inner-content-area">
          <div class="tdcinner-product">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">  
                     <div class="title">
          <div class="lined ">
            <h3>Products</h3>
          </div>
        </div>
       
            <div class="mt20 mb20 responsive-col-2">   
              
                {%for product in products%}
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-ineer-box mb20">
                <div class="products-box text-center">
                  <div class="padding-all-10">
                              <img class="imgp" src="{{product.Item_img.url}}" alt="" height="80%" width="85%">
                  
                  </div>
                  <div class="products-box-color">
                    <h4>{{product.Item_name}}</h4>
                  </div>
    
                  <div class="mt20 mb20">
             <div class="read_more btn">
    
              <form method="POST" action="/productdetails/{{ product.id }}">
                {% csrf_token %}
               <input type="submit" value="Read More" class="read_more btn" style="color: white;"> 
              </form>
                        </div>
                        </div>
                       
                  <div class="network-border"></div>
    
                </div>
              </div>  {%endfor%}
          </div></div>


     
      </div>



</div>
</div>




  </div>
</div>
</div>
</div>
</div>







  <div class="clearfix"></div>
{%endblock%}
  </body>


</html>