{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">



<head>
</head>

    
<body>
    {%block content%}
      <!--<div class="slider">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div>
                                          <img class="img-responsive " src="{% static 'synergyframe/config/resources/system/upload/1487611487.jpg' %}" alt="News">
                                      </div>
                          </div>
          </div>
        </div>
      </div>
    </div>-->

      <div class="container ">
    <div class="ineer-pages">
 
   <div class="col-md-12"> 		
  <div class="title">
      <div class="lined ">
        <h3>News</h3>
      </div>
    </div>
</div>

	
			 
		
		<div class="products-box-size">			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="pa-services-area">
					<div class="pa-services">
						<h4><a href="NEW-ARTICAL">Welcome</a></h4> 
						<!-- 						<p><b>Date:</b>2020-06-01</p> -->Welcome Note
						<!--  <a class="link-more btn btn-info" href="NEW-ARTICAL">Read More</a> -->
					</div>
				</div>
			</div></div>

 
</div>
</div>

<div class="clearfix"></div>

{%endblock%}

      </body>


</html>