{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">



<head>
  
</head>

    
<body>
    
     

{%block content%}
  <div class="Sales-Services">
    <div class="container ">
    <div class="ineer-pages">
      <div class="ineer-pages-img ">
        <div class="row ">
          <div class="col-md-12 ">
            <div class="ineer-page-taital ">
              <div class="ineer-page-tex ">
                <h3>Sales Service</h3>
              </div>
            </div>
			
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="title ">
						<div class="lined ">
						  <h3>Sales Service</h3>
						</div>
						</div>
						
						<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<div class="sales-services-box1">
			<h4>
				SALES TEAM</h4>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>
								Products</th>
							<th>
								Contact</th>
							<th>
								Mail</th>
						</tr>
					</thead>
					<tbody>
											<tr>
							<td>
								LEO control panels, LEO Auto switch, BK deepak's Motor Starters, all products of ABM INSTRUMENTS,SONTUNE'S Contactors RCCB and all other products. For all the above products contact </td>
							<td>
								+91 8306556871 </td>
							<td>
								<a href="mailto:dheerajdave44@gmail.com">dheerajdave44@gmail.com</a></td>
						</tr>
										</tbody>
				</table>
			</div>
		</div>
		
						
						</div>
					</div>
				</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

{%endblock%}


  </body>


</html>